.title {
    background-color: #778da9;
}

.page-create {
    max-width: 750px;
    margin: 0 auto;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 5px;
}

.page-create .form-control {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 12px;
    font-size: 16px;
    font-weight: bold;
}

.page-create .btn-success {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.page-create .btn-success:hover {
    background-color: #218838;
}
