/* ------------------------------------- Flash Message ------------------------------------- /
.flash-message-container {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 1050;
}

.flash-message {
    margin-bottom: 10px;
    animation: fadeOut 5s forwards;
}

@keyframes fadeOut {
    0% { opacity: 1; }
    80% { opacity: 1; }
    100% { opacity: 0; }
}

/ ------------------------------------- Navbar ------------------------------------- */

.navbar {
    background-color: #1b263b;
}

.navbar .nav-link {
    color: #e0e1dd;
}

.navbar .nav-link:hover {
    color: #ffc857;
}

.navbar .btn-dropdown {
    border: none;
    border-radius: 20%;
    background-color: transparent;
    color: white;
}

.profileImage {
    max-width: 50px;
    min-width: 30px;
}

.navbar .dropdown-menu {
    background-color: #1b263b;
    border: 1px black solid;
}

.navbar .dropdown-menu .dropdown-item:hover {
    background-color: #111926;
}

.navbar .dropdown-menu .dropdown-item {
    color: white;
}

a {
    text-decoration: none;
}

.back {
    color: black;
    font-size: 20px;
    border: 1px solid #ccc;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.back:hover {
    background-color: #1b263b;
    color: white;
}

.button-back {
    display: flex;
}

.page-number {
    background-color: #198754 !important;
    border-color: #198754 !important;
}
